body{width: 100vw;}
/* Add some style to the game */
.game {
  display: grid;
  grid-template-columns: repeat(3,25vh);
}
.square {
  width: 25vh;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
  cursor: pointer;
  border:1px dashed gray;
}